<% provide(:title, "Home") %>

<div id="contents">

  <!-- １番目のコンテンツ -->
  <div class="down-appear-trigger">
  <div class="normal-area down-appear">
    <div class="normal-block">
      <div class="imgR">
        <%= image_tag "harry01.png", alt: "Harry" %>
        <h1>ピコン！<br>とひらめく力！！</h1>
        <p>楽しくプログラミングする、まったり、ゆっくりな小動物、ハリー教授です！！</p>
      </div>
    </div>
  </div>


  <!-- ２番目のコンテンツ -->
  <div class="up-appear-trigger">
  <div class="non-background-area up-appear">
    <div class="white-block block2">
      <div class="imgR">
        <%= image_tag "harry02.png", alt: "Harry" %>
        <h1>ピコン！<br>とひらめく力！！</h1>
        <p>楽しくプログラミングする、まったり、ゆっくりな小動物、ハリー教授です！！</p>
      </div>
    </div>
  </div>


  <!-- ３番目のコンテンツ -->
  <div class="left-slide-trigger">
  <div class="normal-area left-slide">
    <div class="normal-block">
      <div class="imgL">
        <%= image_tag "harry03.png", alt: "Harry" %>
        <h1>ピコン！<br>とひらめく力！！</h1>
        <p>楽しくプログラミングする、まったり、ゆっくりな小動物、ハリー教授です！！</p>
      </div>  
    </div>
  </div>

  <!-- ４番目のコンテンツ -->
  <div class="right-slide-trigger">
  <div class="normal-area right-slide">
    <div class="normal-block">
      <div class="imgL">
        <%= image_tag "harry04.png", alt: "Harry" %>
        <h1>ピコン！<br>とひらめく力！！</h1>
        <p>楽しくプログラミングする、まったり、ゆっくりな小動物、ハリー教授です！！</p>
      </div>  
    </div>
  </div>

  <!-- 領域全体 -->
  <section class="non-background-area grid-block">

    <!-- グリッド表示 -->
    <div class="container grid-container">

      <!-- 記事1 -->
      <div class="grid-content md:w-1/2 lg:w-1/3 grid-block-1">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "harry01.png", alt: "Harry" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h3><%= "ハリー教授のちくっと講座".truncate(13) %></h3>
            <p><span><%= "パワーポイントを使った１分ミニミニプログラミング動画".truncate(32) %></span></p>
          </div>
        </div>
      </div>

      <!-- 記事2 -->
      <div class="grid-content md:w-1/2 lg:w-1/3 grid-block-2">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "harry02.png", alt: "Harry" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h3><%= "ハリー教授のちくっとおみくじ".truncate(13) %></h3>
            <p><span><%= "お正月イベント用にUnityで開発したデスクトップアプリケーション".truncate(32) %></span></p>
          </div>
        </div>
      </div>
    
      <!-- 記事3 -->
      <div class="grid-content md:w-1/2 lg:w-1/3 grid-block-3">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "harry03.png", alt: "Harry" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h3><%= "ハリー教授とゆかいな仲間達".truncate(13) %></h3>
            <p><span><%= "しまこさん、パトさん、やぎのすけ登場の巻き".truncate(32) %></span></p>
          </div>
        </div>
      </div>
    
      <!-- 記事4 -->
      <div class="grid-content md:w-1/2 lg:w-1/3 grid-block-4">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "harry04.png", alt: "Harry" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h3><%= "ハリー教授とアン犬".truncate(13) %></h3>
            <p><span><%= "知りたがり屋のアンケートマニア犬".truncate(32) %></span></p>
          </div>
        </div>
      </div>
    
      <!-- 記事5 -->
      <div class="grid-content md:w-1/2 lg:w-1/3 grid-block-5">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "harry05.png", alt: "Harry" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h3><%= "ハリー教授のLINEスタンプ".truncate(13) %></h3>
            <p><span><%= "ハリー教授をモチーフにした１６種類のスタンプがついにリリース！！".truncate(32) %></span></p>
          </div>
        </div>
      </div>

      <!-- 記事6 -->
      <div class="grid-content md:w-1/2 lg:w-1/3 grid-block-6">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "harry01.png", alt: "Harry" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h3><%= "ハリー教授のRuby研修".truncate(13) %></h3>
            <p><span><%= "RubyとRailsの約２ヶ月の強化研修".truncate(32) %></span></p>
          </div>
        </div>
      </div>

    </div>
  </section>

</div>