

<% provide(:title, "Subject") %>

<div id="contents">

  <h1>教科ごとのネタ投稿ページ</h1>

  <!-- グリットレイアウト領域全体 -->
  <section class="non-background-area grid-block">

    <!-- グリッド表示 -->
    <div class="container grid-container">

      <!-- 国語 -->
      <div class="grid-content grid-block-1">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "national_language.png", alt: "National Language" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h3><%= "National Language".truncate(18) %></h3>
            <p><span>
              <%= form_for(subject_path, html:{method: :get}, remote: true) do |f| %>
                <div><%= hidden_field_tag :search, "国語" %></div>
                <%= f.submit "国語のネタ投稿はこちら", class: "subject-article-btn" %>
              <% end %>
            </span></p>
          </div>
        </div>
      </div>

      <!-- 数学 -->
      <div class="grid-content md:w-1/2 lg:w-1/3 grid-block-2">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "mathematics.png", alt: "Mathematics" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h3><%= "Mathematics".truncate(18) %></h3>
            <p><span>
              <%= form_for(subject_path, html:{method: :get}, remote: true) do |f| %>
                <div><%= hidden_field_tag :search, "数学" %></div>
                <%= f.submit "数学のネタ投稿はこちら", class: "subject-article-btn" %>
              <% end %>
            </span></p>
          </div>
        </div>
      </div>
    
      <!-- 英語 -->
      <div class="grid-content md:w-1/2 lg:w-1/3 grid-block-3">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "english.png", alt: "English" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h3><%= "English".truncate(18) %></h3>
            <p><span>
              <%= form_for(subject_path, html:{method: :get}, remote: true) do |f| %>
                <div><%= hidden_field_tag :search, "英語" %></div>
                <%= f.submit "英語のネタ投稿はこちら", class: "subject-article-btn" %>
              <% end %>
            </span></p>
          </div>
        </div>
      </div>
    
      <!-- 理科 -->
      <div class="grid-content md:w-1/2 lg:w-1/3 grid-block-4">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "science.png", alt: "Science" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h3><%= "Science".truncate(18) %></h3>
            <p><span>
              <%= form_for(subject_path, html:{method: :get}, remote: true) do |f| %>
                <div><%= hidden_field_tag :search, "理科" %></div>
                <%= f.submit "理科のネタ投稿はこちら", class: "subject-article-btn" %>
              <% end %>
            </span></p>
          </div>
        </div>
      </div>
    
      <!-- 社会 -->
      <div class="grid-content md:w-1/2 lg:w-1/3 grid-block-5">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "society.png", alt: "Society" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h3><%= "Society".truncate(18) %></h3>
            <p><span>
              <%= form_for(subject_path, html:{method: :get}, remote: true) do |f| %>
                <div><%= hidden_field_tag :search, "社会" %></div>
                <%= f.submit "社会のネタ投稿はこちら", class: "subject-article-btn" %>
              <% end %>
            </span></p>
          </div>
        </div>
      </div>

      <!-- その他 -->
      <div class="grid-content md:w-1/2 lg:w-1/3 grid-block-6">
        <!-- イメージ -->
        <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
          <%= image_tag "other.png", alt: "other" %>
          <!-- テキスト -->
          <div class="grid-content-text">
            <h3><%= "Other".truncate(18) %></h3>
            <p><span>
              <%= form_for(subject_path, html:{method: :get}, remote: true) do |f| %>
                <div><%= hidden_field_tag :search, "その他" %></div>
                <%= f.submit "その他のネタ投稿はこちら", class: "subject-article-btn" %>
              <% end %>
            </span></p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Articleのフィード -->
  <div id="feed-list-area">
    <h1><%= @search %></h1>
    <%= render 'shared/feed' %>
  </div>


</div>

<script>
  var position = $("#feed-list-area").offset().top -100;

  $(".subject-article-btn").click(function(){

    $("html,body").animate({
        scrollTop : position
    }, {
        queue : false
    });

  });
</script>




