<li id="article-<%= article.id %>">

  <div class="col-md-2">
    <% if @search == "すべての投稿" %>
      <div class="article_subject"><%= article.subject %></div>
    <% end %>
    <span class="user"><%= link_to article.user.name, article.user %></span>
  </div>

  <div class="col-md-8">
    <span class="article_title"><%= article.title %></span>
    <span class="article_body"><%= article.body %></span>
  </div>

  <div class="col-md-2">
    <!-- 詳細情報ボタン -->
    <div class="article_update">
      <%= link_to "詳細を見る", article %>
    </div>
    <% if current_user?(article.user) %>
      <div class="article_delete">
        <%= link_to "削 除", article, method: :delete, data: { confirm: "You sure?" } %>
      </div>
    <% end %>
  </div>
  
</li>