<%= form_for(@article, url: yield(:url)) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div>
    <%= f.label  "タイトル" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label "教科" %>
    <%= f.select :subject, {"国語" => "国語", "数学" => "数学", "英語" => "英語", "理科" => "理科", "社会" => "社会"}, :include_blank => true %>
  </div>


  <div>
    <%= f.label "詳細説明" %>
    <%= f.text_area :body %>
  </div>

  <%= f.submit yield(:button_text) %>

<% end %>