<% provide(:title, @user.name) %>

<div id="contents">

  <!-- 情報ヘッダー（投稿数、予約数、新規登録ボタン -->
  <ul class="profile-header">
    <li>投稿数：<%= @cars.count %>件</li>
    <%= link_to "予約リスト", rlist_path, class: "my-btn" %>
    <%= link_to "予約管理", rmanage_path, class: "my-btn" %>
    <%= link_to "新規作成", new_car_path, class: "my-btn" %>
  </div>


  <!-- 自分が投稿した情報 -->
  <div>
    <h1>カーシェア投稿情報</h1>
    <ol class="cars">
      <%= render @cars %>
    </ol>
    <div style="text-align: center;">
      <%= will_paginate @cars %>
    </div>
  </div>

</div>


