<!-- 投稿フォーム -->
<%= form_for(@car) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :title, carholder: "car Title..." %>
    <%= f.text_area :body, carholder: "car Body..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>